[MASTER]

# A comma-separated list of package or module names from where C extensions may
# be loaded. Extensions are loading into the active Python interpreter and may
# run arbitrary code.
extension-pkg-whitelist=PyQt5
disable=bare-except,
    locally-disabled,
    too-many-branches,
    too-many-locals,
    invalid-name,
    singleton-comparison,
    line-too-long,
    trailing-whitespace,
    missing-module-docstring,
    logging-not-lazy,
    pointless-string-statement

