[Desktop Entry]
Comment=
Exec=sudo /home/student/.life/applications/life-exam/server/server.py
Icon=/home/student/.life/applications/life-exam/pixmaps/life_teacher.svg
Name=Exam Teacher
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
