[Desktop Entry]
Comment[de_AT]=
Comment=
Exec=sudo -E /home/student/.life/applications/life-exam/client/client.py
GenericName[de_AT]=
GenericName=
Icon=/home/student/.life/applications/life-exam/pixmaps/life.svg
MimeType=
Name[de_AT]=Exam Student
Name=Exam Student
NoDisplay=false
Path=/home/student/.life/applications/life-exam/client/
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
