#!/usr/bin/env xdg-open
[Desktop Entry]
Comment[de_DE]=
Comment=
Exec=sudo /home/student/.life/applications/life-exam/DATA/EXAMCONFIG/lockdown/stopexam.sh
GenericName[de_DE]=Beende die Prüfungsumgebung
GenericName=Beende die Prüfungsumgebung
Icon=/home/student/.life/applications/life-exam/DATA/starter/stop.svg
MimeType=
Name[de_DE]=Beenden
Name=Beenden
Path[$e]=$HOME/.life/applications/life-exam/DATA/EXAMCONFIG/lockdown/
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
