#!/usr/bin/env xdg-open
[Desktop Entry]
Comment[de_DE]=
Comment=
Exec=kdesudo ~/.life/EXAM/scripts/stopexam.sh
GenericName[de_DE]=
GenericName=
Icon=org.kde.plasma.frame
MimeType=
Name[de_DE]=Stoppe Prüfungsumgebung
Name=Stoppe Prüfungsumgebung
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
